[Unit]
Description=Gateway service that receives data from BLE sensors and sends them to an MQTT server.

[Service]
Type=simple
ExecStart=/usr/bin/ble_mqtt_gateway
RestartSec=10
Restart=always
User=nobody

[Install]
Requires=bluetooth.target
WantedBy=multi-user.target