[Unit]
Description=Gateway service that receives data from BLE sensors and sends them to an MQTT server.

[Service]
Type=simple
ExecStart=/usr/local/bin/ble_mqtt_gateway -c /etc/ble_mqtt_gateway/config.yaml
RestartSec=10
Restart=always
User=bluetooth

[Install]
Requires=bluetooth.target
WantedBy=multi-user.target