[common]
# 20 -> INFO
loglevel=20

[MQTT]
host=localhost
username=username
password=password

[InfluxDB]
enabled=1
host=localhost
port=8086
username=username
password=password
database=environmental_data
